<style>
    /* line 1, components.scss */
    .form-group.oha  {
        width: auto;
        float: left;
    }
    .radio-button-container{
        float: left;
        width: auto;
        display: inline-block;
    }
    .radio-button-container label {
        width:auto !important;
    }
    .switch-input {
        display: none !important;
    }

    /* line 5, components.scss */
    .switch-label {
        position: relative;
        display: inline-block;
        width: auto !important;
        box-sizing: border-box;
        cursor: pointer;
        font-weight: 500;
        text-align: left;
        padding: 10px;
        margin-bottom: 10px;
    }
    /* line 15, components.scss */
    .switch-label:before, .switch-label:after {
        content: "";
        position: absolute;
        margin: 0;
        outline: 0;
        top: 50%;
        -ms-transform: translate(0, -50%);
        -webkit-transform: translate(0, -50%);
        transform: translate(0, -50%);
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }
    /* line 27, components.scss */
    .switch-label:before {
        right: 2px;
        width: 34px;
        height: 14px;
        background-color: #9E9E9E;
        border-radius: 8px;
    }
    /* line 34, components.scss */
    .switch-label:after {
        right: 17px;
        width: 20px;
        height: 20px;
        background-color: #FAFAFA;
        border-radius: 50%;
        box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.14), 0 2px 2px 0 rgba(0, 0, 0, 0.098), 0 1px 5px 0 rgba(0, 0, 0, 0.084);
    }
    /* line 42, components.scss */
    .switch-label .toggle--on {
        display: none;
    }
    /* line 45, components.scss */
    .switch-label .toggle--off {
        display: inline-block;
    }

    /* line 51, components.scss */
    .switch-input:checked + .switch-label:before {
        background-color: #A5D6A7;
    }
    /* line 54, components.scss */
    .switch-input:checked + .switch-label:after {
        background-color: #4CAF50;
        -ms-transform: translate(80%, -50%);
        -webkit-transform: translate(80%, -50%);
        transform: translate(80%, -50%);
    }
    /* line 60, components.scss */
    .switch-input:checked + .switch-label .toggle--on {
        display: inline-block;
    }
    /* line 63, components.scss */
    .switch-input:checked + .switch-label .toggle--off {
        display: none;
    }
</style>
<section class="dashboard-section">
    <h2 class="section-title">
        {{section.title}}
    </h2>

    <div>
    <!-- Main container -->
    <form >
        <div class="vitals form-horizontal">

        <fieldset>

        <div class="form-group">

                <label for="age" class="control-label">Age</label>
                <div class="field-value">

                    <input ng-model="oha.age" id="age" type="number" min="30" max="75" step="1" ng-model="oha.age">
                </div>
        </div>
        </fieldset>

        <fieldset>

        <div class="form-group">

        <label for="diabetes" class="control-label">Has diabetes</label>
        <div class="">
            <div class="">
                <input type="checkbox" class="switch-input" id="diabetes" ng-model="oha.hasDiabetes"/>
                <label class="switch-label" for="diabetes"></label>
            </div>
        </div>
        </div>
        </fieldset>

        <fieldset>

        <div class="form-group">

        <label for="smoking" class="control-label">Smoker</label>
        <div class="">
            <input type="checkbox" class="switch-input"  id="smoking"  ng-model="oha.isCurrentSmoker"/>
            <label class="switch-label" for="smoking"></label>
        </div>
        </div>
        </fieldset>

        <fieldset>

        <div class="form-group">
            <label for="sbp" class="control-label">Blood Pressure (SBP)</label>
            <div class="">
                <input id="sbp" type="number" min="90" max="200" step="1" ng-model="request.data.body.measurements.sbp[0]">
            </div>
        </div>
        </fieldset>

        <fieldset>

        <div class="form-group oha">
            <label for="cholesterol" class="control-label">Total Cholesterol</label>
            <input id="cholesterol" class="" type="number" step="0.1" ng-model="oha.totalCholesterol">
        </div>
            <div class="radio-button-container">
            <label><input id="mm" type="radio" name="cholesterolUnit" value="mmol/l" ng-model="data.body.pathology.cholesterol.units"
                       checked> mmol/L</label>
                <label><input id="mg" type="radio" name="cholesterolUnit" value="mg/dL" ng-model="data.body.pathology.cholesterol.units">mg/dL</label>
            </div>
        </fieldset>

        <fieldset>
            <div class="form-group">
            <div class="control-label">
                <input id="submit" type="button" ng-click="calculateHearts()" value="Submit">
            </div>
        </div>
        </fieldset>
        </div>

    </form>
    </div>


    <div class="col-xs-12">
                <h2 >CVD Risk</h2>
                <div id="cvdRisk">
                    <svg height="100%" version="1.1" width="100%" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="overflow: hidden; position: relative;">
                        <desc style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">Created with Raphaël 2.1.4</desc>
                        <defs style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
                            <filter id="inner-shadow-cvdRisk">
                                <feOffset dx="0" dy="3"></feOffset>
                                <feGaussianBlur result="offset-blur" stdDeviation="5"></feGaussianBlur>
                                <feComposite operator="out" in="SourceGraphic" in2="offset-blur" result="inverse"></feComposite>
                                <feFlood flood-color="black" flood-opacity="0.2" result="color"></feFlood>
                                <feComposite operator="in" in="color" in2="inverse" result="shadow"></feComposite>
                                <feComposite operator="over" in="shadow" in2="SourceGraphic"></feComposite>
                            </filter>
                        </defs>
                        <path fill="#edebeb" stroke="none" d="M88.55,124.8L71,124.8A78,78,0,0,1,227,124.8L209.45,124.8A60.45,60.45,0,0,0,88.55,124.8Z" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path>
                        <path ng-if="cvdRisk=='10'" fill="#c9d107" stroke="none" d="M88.55,124.8L71,124.8A78,78,0,0,1,85.8966744387541,78.95275032118708L100.09492269003442,89.26838149891998A60.45,60.45,0,0,0,88.55,124.8Z" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path>
                        <path ng-if="cvdRisk=='20'" fill="#e9cb03" stroke="none" d="M88.55,124.8L71,124.8A78,78,0,0,1,124.8966744387541,50.61759172897801L130.31992269003445,67.30863358995796A60.45,60.45,0,0,0,88.55,124.8Z" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path>
                        <path ng-if="cvdRisk=='30'" fill="#faa001" stroke="none" d="M88.55,124.8L71,124.8A78,78,0,0,1,173.1033255612459,50.61759172897803L167.68007730996558,67.30863358995796A60.45,60.45,0,0,0,88.55,124.8Z" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path>
                        <path ng-if="cvdRisk=='40'" fill="#fc4f00" stroke="none" d="M88.55,124.8L71,124.8A78,78,0,0,1,212.1033255612459,78.9527503211871L197.90507730996558,89.26838149892001A60.45,60.45,0,0,0,88.55,124.8Z" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path>
                        <path ng-if="cvdRisk=='50'" fill="#ff0000" stroke="none" d="M88.55,124.8L71,124.8A78,78,0,0,1,227,124.8L209.45,124.8A60.45,60.45,0,0,0,88.55,124.8Z" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path>
                        <text x="149" y="24.375" text-anchor="middle" font-family="sans-serif" font-size="15px" stroke="none" fill="#999999" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-family: sans-serif; font-size: 15px; font-weight: bold; fill-opacity: 1;" font-weight="bold" fill-opacity="1">
                            <tspan dy="0" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></tspan>
                        </text>
                        <text x="149" y="122.3529411764706" text-anchor="middle" font-family="Arial" font-size="24px" stroke="none" fill="#010101" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-family: Arial; font-size: 24px; font-weight: bold; fill-opacity: 1;" font-weight="bold" fill-opacity="1">
                            <tspan dy="0" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">{{cvdRisk}}</tspan>
                        </text>
                        <text x="149" y="139.3529411764706" text-anchor="middle" font-family="Arial" font-size="10px" stroke="none" fill="#b3b3b3" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-family: Arial; font-size: 10px; font-weight: normal; fill-opacity: 1;" font-weight="normal" fill-opacity="1">
                            <tspan dy="0" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">Your CVD risk</tspan>
                        </text>
                        <text x="79.775" y="139.3529411764706" text-anchor="middle" font-family="Arial" font-size="10px" stroke="none" fill="#b3b3b3" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-family: Arial; font-size: 10px; font-weight: normal; fill-opacity: 1;" font-weight="normal" fill-opacity="1">
                            <tspan dy="0" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">0</tspan>
                        </text>
                        <text x="218.225" y="139.3529411764706" text-anchor="middle" font-family="Arial" font-size="10px" stroke="none" fill="#b3b3b3" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-family: Arial; font-size: 10px; font-weight: normal; fill-opacity: 1;" font-weight="normal" fill-opacity="1">
                            <tspan dy="0" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">50</tspan>
                        </text>
                    </svg>
                </div>
            </div>
            <div><b>Follow-up: </b> {{cvdFollowUP}}</div>
            <div><b>Advice (for provider):</b></div>
            <ul>
                <li ng-repeat="x in cvdAdvice track by $index">=> {{x}}</li>
            </ul>
            <!--<div>{{cvdAdvice}}</div>-->
            <div><b>Diabetes Risk: </b>{{diabeteseRisk}}</div>
            <div><b>Diabetes Advice:</b>  {{diabeteseAdvice}}</div>
            <div><b>Smoking Advice:</b>  {{smokingAdvice}}</div>


                        <!-- <div class="col-xs-12">
                                    <ul id="advice">
                                    </ul>
                                </div> -->
        </main>
    <hr/>
    <div ng-if="calculatedRisk">
        <h3>Latest Assessment</h3>
        <table>
            <tr> <td>CVD Risk</td><td>{{calculatedRisk}}</td></tr>
            <tr> <td>Advice/Message:</td><td>{{calculatedMessage}}</td></tr>
        </table>
    </div>


    <div ng-if="noObs">
        <h3>CVD Risk Assessment not done before</h3>
    </div>




    <div>
            <h3>Care Plan for Patient</h3>
            <table>
               <tr> <th>Goal</th><th>Instructions</th><th>Review</th></tr>
               <tr ng-repeat="x in cvdAdvice   track by $index"> <td>{{x}}</td><td>{{management[x]}}</td><td>{{cvdFollowUP}} month(s)</td></tr>
            </table>
        </div>

        <!--<div>-->
            <!--<h3>Care Plan Monitoring </h3>-->
            <!--<table>-->
                <!--<tr><th>Item</th><th ng-repeat="x in dates  track by $index">{{x | bahmniDate}}</th><th>Next Review Date</th></tr>-->
                <!--<tr><td>Smoking</td><td ng-repeat="x in smoking  track by $index">{{smoking?'Yes':'No'}}</td><td>{{reviewDate | bahmniDate}}</td></tr>-->
                <!--<tr><td>SBP</td><td ng-repeat="x in sbp  track by $index">{{x}}</td><td>{{reviewDate | bahmniDate}}</td></tr>-->
                <!--<tr><td>DBP</td><td ng-repeat="ax in dbp   track by $index">{{ax}}</td><td>{{reviewDate | bahmniDate}}</td></tr>-->
            <!--</table>-->
        <!--</div>-->
        <!-- END Main container -->

    </section>
</div>